.previewPhoto {
	width: 492px;
	overflow: hidden;
	position: relative;
}

.previewPhotoTrack {
	position: relative;
	left: 164px;
	display: flex;
	white-space: nowrap;
	transition: transform 0.5s ease-out;
}

.previewPhotoPreview {
	min-width: 154px;
	display: inline-block;
	margin: 5px;
	height: 80px;
	background: #92a9b2;
	border-radius: 5px;
	overflow: hidden;
}

.previewPhotoImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.previewPhotoCover {
	height: 100%;
	position: absolute;
	z-index: 2;
	width: 164px;
	background-color: rgba(255, 255, 255, 0.7);
	left: 50%;
	top: 0;
	transform: translate(-50%, 0);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font: 24px/1 Georgia;
}
